.distenition {
  width: 100%;
  }
.distinition_container {
  width: 100%;
  margin: 5% auto 5% auto;
}
.distenition_page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
}

.distenition_title,
.trending_title {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.38;
  color: #000000;
  max-width: 450px;
}
.distenition_button,
.trending_button
 {
  border: none;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 3.5;
  color: #FB8F1D;
  max-width: 110px;
  max-height: 50px;
  justify-content: center;
  background-color: inherit;
    &:hover,
    :focus {
      font-size: 19px;
    }
}

.distenition_list{
  display: flex;
  justify-content: space-between;
  width: 100%;  
}

.distenition_item,
.trending_item {
  position: relative;
  
}
.foto {
  background: linear-gradient(360deg, #032204 -26.8%, #032204 -26.8%, rgba(3, 31, 4, 0.920415) -26.8%, rgba(3, 29, 4, 0.855404) -26.8%, rgba(0, 0, 0, 0) 61.11%);
  border-radius: 8px;
}
.distenition_box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: #FFFFFF;
  border-radius: 0px 6px 0px 0px;
  width: 120px;
  height: 56px;
}

.box_description {
  font-family: Inter;
  font-weight: 600;
  font-size: 17;
  line-height: 1.47;
  color: #042521;
}
.box_text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14;
  line-height: 1.47;
  color: #80918E;
}

._exemple {
}
._box {
}
