.trending_container {
  width: 100%;
  margin: 5% auto 5% auto;
  height: auto;
 }
 
.trending_page {
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
}
.trending_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;
  
}
.box_des {
  font-family: Inter;
  font-weight: 600;
  font-size: 17;
  line-height: 1.47;
  color: #042521;
  margin: 15 0 15 15;
}

.trending_content {
 position: relative;
 overflow: hidden;
  
}
.trending_overlay {
  background-color: #fff;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center top;
  transform: translateY(100%);
}
.trending_content:hover .trending_overlay{
  overflow: visible;
  transform: translateY(0);
}

.trending_foto{
  width: 330px;
  height: 334px;
  display: block;
  padding-bottom: 20px;
} 

.trending_overlay .box_text{
  margin: 15 0 15 15;
}